@font-face {
    font-family: 'Nunito';
    /* src: url('/home/piter/repo/pogoda/static/fonts/Nunito-Regular.ttf');*/
    src: url('/static/fonts/Nunito-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    /* src: url('/home/piter/repo/pogoda/static/fonts/Nunito-Bold.ttf');*/
    src: url('/static/fonts/Nunito-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
}

.ikona-pogody {
    width: 400px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 5px #999);
}

.ikona-pogody-teraz {
    width: 280px;
    max-width: 40%;
    padding: 0;
    height: auto;
    justify-content: center;
}

.top-section-left {
    grid-area: top-section-left;
    line-height: 0.75;
    margin-left: 8px;
}

.top-section-right {
    grid-area: top-section-right;
    display: flex;          /* dodajemy flex */
    justify-content: center; /* wyśrodkowanie poziome */
    align-items: center;    /* wyśrodkowanie pionowe */
}

.forecast-0 { grid-area: forecast-0; font-size: 18px; }
.forecast-1 { grid-area: forecast-1; font-size: 18px; }
.forecast-2 { grid-area: forecast-2; font-size: 18px; }
.forecast-3 { grid-area: forecast-3; font-size: 18px; }
.forecast-4 { grid-area: forecast-4; font-size: 18px; }
.forecast-5 { grid-area: forecast-5; font-size: 18px; }
.forecast-6 { grid-area: forecast-6; font-size: 18px; }
.forecast-7 { grid-area: forecast-7; font-size: 18px; }

.bottom-section {
    grid-area: bottom-section;
    justify-content: center;
    margin-left: 8px;
}


#container {
    height: calc(100% - 4.1% - 0%);   /* 100% - top - bottom */
    width: calc(100% - 6.875% - 6%);  /* 100% - left - right */
    margin: 4.1% 6% 0% 6.875%;
    background-color: #4d9cf7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "top-section-left top-section-left top-section-left top-section-left top-section-right top-section-right top-section-right top-section-right"
    "forecast-0 forecast-1 forecast-2 forecast-3 forecast-4 forecast-5 forecast-6 forecast-7"
    "bottom-section bottom-section bottom-section bottom-section bottom-section bottom-section bottom-section bottom-section";
    /* background-color: #5080b8;*/
}